#target-box {
  border: 5px solid red;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
}

#target-dropdown {
  background-color: black;
  height: 20px;
  width: 50px;
}

#target-container {
  display: none;
  position: absolute;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#game-space {
  display: grid;
  position: relative;
}

.game-img {
  margin: 0;
  padding: 0;
}
