#target-box {
  border: 5px solid red;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
}

#target-dropdown {
  background-color: hsl(0, 0%, 96%);
}

#target-dropdown div {
  color: black;
  padding: 5px;
}

#target-dropdown div:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

#target-container {
  display: none;
  position: absolute;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#game-space {
  display: grid;
  position: relative;
}

.game-img {
  margin: 0;
  padding: 0;
}

.items-heading {
  display: flex;
  align-items: center;
}

.items-to-find {
  display: flex;
  gap: 14px;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.items-to-find li {
  text-align: center;
}

.wrong {
  position: relative;
  animation-name: wrong;
  animation-duration: 1s;
}

@keyframes wrong {
  10%,
  90% {
    transform: translate(-1px);
  }
  20%,
  80% {
    transform: translate(2px);
  }
  30%,
  50%,
  70% {
    transform: translate(-4px);
  }
  40%,
  60% {
    transform: translate(4px);
  }
}
