:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg: hsl(0, 0%, 10%);
  --font: hsl(0, 0%, 93%);

  color-scheme: light dark;
  color: var(--font);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(0, 1000px);
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --font: hsl(209, 20%, 39%);
    --bg: hsl(227, 57%, 91%);
  }
}
